[user]
  email = diogo.cardoso@flutteruki.com
	name = Diogo Cardoso

[core]
  excludesfile = ~/.gitignore_global
  pager = delta

[pull]
  rebase = true

[interactive]
  diffFilter = delta --color-only

[delta]
  tabs = 2
  side-by-side = true