email=diogo.cardoso@flutteruki.com
strict-ssl=false
always-auth=false
registry=https://artifactory-prd.prd.betfair/artifactory/api/npm/npm
//artifactory-prd.prd.betfair/artifactory/api/npm/:_auth=${NPM_TOKEN}
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}